.backgroundDiv {
  background-color: aliceblue;
  height : 100vh;
  overflow: scroll;
  /* overflow-y: hidden; */
  overflow-x: hidden;
}
.container-data {
  max-width: 1260px;
  width : 100%;
  height: 100%;
  margin : 0 auto;
  background-color: aliceblue;
}
.addressStyle {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-bottom: 1em;
}



.billingStyle {
  font-size: 1.5rem;
  margin : 1em;
}
input {
  border : 1px solid #ece6e6;
  font-size: 1rem;
  padding: 0.75em;
  margin-top: 1em;
}
input :last-child {
  margin-bottom: 1em;
}
.shippingStyle {
  font-size: 1.5rem;
  margin: 1em;
}
.productStyle{
  background-color: white;
}
.productsTable {
  margin: 1em;
}
.buttonStyling {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.productInput {
  width : 80%;
  margin: 1em;
}
.productNameInput {
  width : 90%;
  margin : 1em;
}
.productTextBox {
  margin : 1em;
}

.addButton, .saveButton {
  background-color: blue;
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 0.5em;
  padding: 1em;
  border : none;
  cursor: pointer;
}
.deleteButton {
  background-color: red;
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 0.5em;
  padding: 1em;
  border : none;
  cursor: pointer;
}